@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #191B20;
    color: #FFF;
}

a {
    text-decoration: none;
}

input {
    padding: 8px;
    border: none;
    border-radius: 6px;
    outline: none;
}

input::placeholder {
    color: #bdbdbd;
}

button {
    padding: 8px;
    background-color: #E30613;
    border-radius: 6px;
    border: none;
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

.main-header {
    background-image: linear-gradient(to bottom, #253033, #191B20);
    padding: 10px 0;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
}

header .navbar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
}

header .navbar img {
    width: 250px;
    height: 150px;
}

.header-logo, .search-bar-content, .login-content {
    flex-basis: 33.33%;
}

.search-bar-content {
    text-align: center;
}

.search-bar-content form {
    width: 100%;
    position: relative;
}

.search-bar-content form input {
    width: 100%;
}

.search-bar-content form button {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 16px;
    padding-right: 16px;
}

.login-content {
    text-align: right;
}

.login-content .cart {
    display: inline-block;
    position: relative;
    margin-right: 24px;
}

.login-content .cart .cart-count {
    display: block;
    position: absolute;
    top: -9px;
    right: -9px;
    width: 18px;
    height: 18px;
    background-color: #FFED00;
    color: #191B20;
    border-radius: 50%;
    animation: emerge 0.3s ease-out forwards;
}

@keyframes emerge {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

.login-content .login {
    display: inline-block;
    padding: 8px;
    background-color: #FFED00;
    border-radius: 6px;
    text-decoration: none;
    color: #191B20;
    font-size: 0.8em;
    font-weight: 600;
}

.dropdown-box {
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
}


.dropdown-category {
    position: relative;
    display: inline-block;
    margin: 0px 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: aliceblue;
    box-shadow: 0px 8px 16px 0px rbga(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a {    
    color: #191B20;
}

.dropdown-category:hover .dropdown-content {
    display: block;
}